openapi: 3.0.1
info:
  title: "Ecosyste.ms: Archives"
  description: "An open API service for inspecting package archives and files from many open source software ecosystems. Archives acts as a caching proxy that allows you to explore package contents (tarballs, zips, etc.) without downloading them locally."
  contact:
    name: Ecosyste.ms
    email: support@ecosyste.ms
    url: https://ecosyste.ms 
  version: 1.0.0
  license:
    name: CC-BY-SA-4.0
    url: https://creativecommons.org/licenses/by-sa/4.0/
externalDocs:
  description: GitHub Repository
  url: https://github.com/ecosyste-ms/archives
servers:
- url: https://archives.ecosyste.ms/api/v1
paths:
  /archives/list:
    get:
      summary: list files in an archive
      operationId: list
      parameters:
        - name: url
          in: query
          description: URL to a package archive file (e.g., https://registry.npmjs.org/express/-/express-4.18.2.tgz)
          required: true
          schema:
            type: string
            example: "https://registry.npmjs.org/express/-/express-4.18.2.tgz"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example: ["package.json", "README.md", "lib/express.js", "lib/application.js"]
  /archives/contents:
    get:
      summary: get contents of a path from an archive
      operationId: contents
      parameters:
        - name: url
          in: query
          description: URL to a package archive file (e.g., https://registry.npmjs.org/express/-/express-4.18.2.tgz)
          required: true
          schema:
            type: string
            example: "https://registry.npmjs.org/express/-/express-4.18.2.tgz"
        - name: path
          in: query
          description: Path to a specific file or folder within the archive (e.g., 'package.json' or 'lib/')
          required: true
          schema:
            type: string
            example: "package.json"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Content'
  /archives/readme:
    get:
      summary: get readme from an archive
      operationId: readme
      parameters:
        - name: url
          in: query
          description: URL to a package archive file (e.g., https://registry.npmjs.org/express/-/express-4.18.2.tgz)
          required: true
          schema:
            type: string
            example: "https://registry.npmjs.org/express/-/express-4.18.2.tgz"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Readme'
  /archives/changelog:
    get:
      summary: get changelog from an archive
      operationId: changelog
      parameters:
        - name: url
          in: query
          description: URL to a package archive file (e.g., https://registry.npmjs.org/express/-/express-4.18.2.tgz)
          required: true
          schema:
            type: string
            example: "https://registry.npmjs.org/express/-/express-4.18.2.tgz"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Changelog'
  /archives/repopack:
    get:
      summary: get repopack from an archive
      operationId: repopack
      parameters:
        - name: url
          in: query
          description: URL to a package archive file (e.g., https://registry.npmjs.org/express/-/express-4.18.2.tgz)
          required: true
          schema:
            type: string
            example: "https://registry.npmjs.org/express/-/express-4.18.2.tgz"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepoPack'
components:
  schemas:
    Content:
      type: object
      properties:
        name:
          type: string
          description: Name of the file or directory
          example: "package.json"
        directory:
          type: boolean
          description: Whether this path is a directory
          example: false
        contents:
          type: string
          description: File contents (only present for files, not directories)
          example: "{\n  \"name\": \"express\",\n  \"version\": \"4.18.2\",\n  \"description\": \"Fast, unopinionated, minimalist web framework\"\n}"
    Readme:
      type: object
      properties:
        name:
          type: string
        raw:
          type: string
        html:
          type: string
        plain:
          type: string
        extension:
          type: string
        language:
          type: string
        other_readme_files:
          type: array
          items:
            type: string
    Changelog:
      type: object
      properties:
        name:
          type: string
        raw:
          type: string
        html:
          type: string
        plain:
          type: string
        extension:
          type: string
        language:
          type: string
    RepoPack:
      type: object
      properties:
        output:
          type: string