name: CI

on: [push]

jobs:
  verify:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Install dependent libraries
        run: sudo apt-get install libarchive-tools libidn11-dev 
      - name: Set up Node
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 15
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Run tests
        env:
          RAILS_ENV: test
        run: bundle exec rake test
